In [23]:
import pandas as pd

In [24]:
# Charger les fichiers CSV
file_matches = 'matches_transformed.csv'
file_predictions = 'predicted_match_results_ht_at_only.csv'

In [25]:
# Charger les données dans des DataFrames
df_matches = pd.read_csv(file_matches)
df_predictions = pd.read_csv(file_predictions)

In [26]:
# Fusionner les DataFrames sur HomeTeam et AwayTeam
merged_df = pd.merge(df_matches, df_predictions, on=['HomeTeam', 'AwayTeam'])

In [27]:
merged_df

             HomeTeam        AwayTeam  Score  Result  Prediction
0             Arsenal         Everton  2 - 1       1         1.0
1             Chelsea     Bournemouth  2 - 1       1         1.0
2           Liverpool          Wolves  2 - 0       1         1.0
3          Luton Town          Fulham  2 - 4       0         NaN
4             Burnley   Nottm Forrest  1 - 2       0         NaN
..                ...             ...    ...     ...         ...
374           Everton          Fulham  0 - 1       0         1.0
375  Sheffield United  Crystal Palace  0 - 1       0         NaN
376       Bournemouth        West Ham  1 - 1       0         0.0
377         Newcastle     Aston Villa  5 - 1       1         1.0
378           Burnley        Man City  0 - 3       0         0.0

[379 rows x 5 columns]

In [28]:
# Compter les NaN séparément dans Prediction
nan_prediction_count = merged_df['Prediction'].isna().sum()

In [29]:
# Supprimer les lignes avec NaN dans Prediction
merged_df = merged_df.dropna(subset=['Prediction'])

In [30]:
# Comparer Result et Prediction et compter les occurrences
merged_df['Equal'] = (merged_df['Result'] == merged_df['Prediction']).astype(int)

C:\Users\sweez\AppData\Local\Temp\ipykernel_23888\3067178521.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df['Equal'] = (merged_df['Result'] == merged_df['Prediction']).astype(int)

In [31]:
# Compter les égalités et les non-égalités
equal_count = merged_df['Equal'].sum()
not_equal_count = len(merged_df) - equal_count

In [32]:
# Afficher les résultats
print(f"Nombre de fois où 'Result' et 'Prediction' sont égaux : {equal_count}")
print(f"Nombre de fois où 'Result' et 'Prediction' ne sont pas égaux : {not_equal_count}")
print(f"Nombre de fois où 'Prediction' n'est pas disponible : {nan_prediction_count}")

Nombre de fois où 'Result' et 'Prediction' sont égaux : 159
Nombre de fois où 'Result' et 'Prediction' ne sont pas égaux : 90
Nombre de fois où 'Prediction' n'est pas disponible : 130

In [33]:
accuracy = round(equal_count/(equal_count + not_equal_count) * 100, 2)
print(f"Le modèle a {accuracy}% d'accuracy")

Le modèle a 63.86% d'accuracy

In [ ]:
#https://www.oddsportal.com/football/england/premier-league-2023-2024/results/ Pour les cotes