In [3]:
import pandas as pd

In [4]:
file_predictions = 'predicted_match_results.csv'

In [5]:
df_predictions = pd.read_csv(file_predictions)

In [11]:
df_predictions.isna()

     HomeTeam  AwayTeam  Prediction
0       False     False       False
1       False     False       False
2       False     False       False
3       False     False       False
4       False     False       False
..        ...       ...         ...
374     False     False       False
375     False     False        True
376     False     False        True
377     False     False        True
378     False     False       False

[379 rows x 3 columns]